body{
    
    margin: 0 auto;
    width:100vw;
    background: linear-gradient( var(--color-negro), var(--colorv1),var(--color-negro));
    background-size: cover;
}
body.white{
    background: linear-gradient( var(--colorv8), var(--colorv5),var(--colorv8));
}
html, body{
    max-width: 100% !important;
    overflow-x: hidden !important;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
ul, li{
    padding: 0;

}
:root{
    
    /*COLORES*/
    --color-negro: #000000;
    --color-blanco:#ffffff;
    --colorv00:#1e232e;
    --colorv0:#3c4457;
    --colorv1:#666f88;
    --colorv2:#788199;
    --colorv3:#8990a2;
    --colorv4:#a3a8b7;
    --colorv5:#b5bac9;
    --colorv6:#c2c5cf;
    --colorv7:#ced1db;
    --colorv8:#eceef3;
    
    /*FUENTES*/
   
    --alderypro: 'Adlery Pro', sans-serif;
    
    --maquinaescribir: 'Courier Prime', monospace;

    --fuente1: 'New Tegomin', serif;

    --fuente2: 'Special Elite', cursive;

    --fuente3: 'Syne Mono', monospace;

    --fuente4: 'VT323', monospace;

    --fuente5: 'Cute Font', cursive;



}
.contenido__principal{
    display: flex;
    flex-direction: column;
    margin:auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
}
/*RESPONSIVE*/
@media screen and (min-width:375px) and (max-width:600px) {
    .contenido__principal{
        width: 100%;
        max-width: 400px;
        padding: auto;
        margin:auto;
    }
    .linea{
        width:auto;
        height: auto;
        margin: 3rem;
        padding: auto;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .contenido__principal{
        width: 100%;
        max-width: 900px;
        align-items: center;
        justify-content: center;
        padding: auto;
        margin:auto;
    }
}
.linea{
    
    width:100vw;
    height: 20vh;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 3rem;
}

