#particles-js{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    margin: 0 auto;
    background-size: cover;
}



/*HEADER*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--colorv0);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
body.white header{
    background: var(--colorv3);
}
/*NAV*/
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
    padding: 1rem;
    background: var(--colorv0);
    border-radius: 50px;
    box-shadow: 16px 14px 20px var(--color-negro),
                -16px 14px 20px var(--color-negro);
}
body.white .nav{
    background: var(--colorv3);
    box-shadow: 16px 14px 20px var(--colorv1),
               -16px 14px 20px var(--colorv1); ;
}
/*NAV-ENLACES*/
.nav__link{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    
}

.nav__link:hover{
    text-decoration: underline;
    
    color: var(--color-blanco);
}
body.white .nav__link:hover{
    color: var(--colorv8);
}
.nav__link li a{ 
    text-decoration: none;
    color: var(--colorv8);
    font-size: 1.1rem;
    font-family: var(--fuente4);
    font-weight: 400;
    letter-spacing: 0.2rem;
    padding: 2rem 2rem;
    margin: auto;
    transition: .5s;
}
.nav__link li a:hover{ 
    letter-spacing: 0.5rem;
}
body.white .nav__link li a{ 
    color: var(--colorv8);
    font-weight: 700;
}
/*BOTON MODOCLARO-OSCURO*/
.switch{
  background: var(--colorv00);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  margin: 2rem;
}
.switch::after{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: var(--colorv5);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.switch.active{
    color: var(--colorv8);
    background: var(--colorv0);

}
.switch.active::after{
    left: unset;
    right: 0;
}
.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: var(--color-blanco);
}



/*RESPONSIVE*/
@media screen and (max-width:375px) {
    header{
        width: 100%;
        height: auto;
        margin: auto;
        flex-direction: column;
     }
     .nav{
        margin: auto;
        padding: auto;
        width: auto;
        height: auto;
     }
     .nav__link{
         flex-direction: column;
         align-items: center;
     }
     .nav__link li a{ 
        font-size: 0.7rem;
         padding: auto;
         margin: 1rem;
     }
     .switch{
       margin: 1rem;
     }
    
      .switch span{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .switch::after{
       
        width: 25px;
        height: 23px;
        
    }
}
@media screen and (min-width:375px) and (max-width:767px) {
    header{
       width: 100%;
       height: auto;
       margin: auto;
       padding: auto;
       flex-direction: column;
    }
    .nav{
       margin: auto;
       padding: auto;
       width: auto;
       height: auto;
    }
    .nav__link{
        flex-direction: column;
        align-items: center;
    }
    .nav__link li a{ 
       font-size: 1.2rem;
        padding: auto;
        margin: 1rem;
    }
    .switch{
        margin: 1rem;
      }
   
       .switch span{
         width: 25px;
         height: 25px;
         line-height: 25px;
     }
     .switch::after{
        
         width: 29px;
         height: 26px;
         
     }
     
      
    
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .nav{
        margin: auto;
        padding: auto;
        width: auto;
        height: auto;
     }
   
    .nav__link li a{ 
        font-size: 0.9rem;
         padding: 0.7rem;
         margin: 0.1rem;
     }
     .switch{
         margin: 1rem;
       }
     
}
@media screen and (min-width:1024px) and (max-width:1440px) {
    .nav{
        margin-left: 5rem;
        padding: 0.8rem;
      
    }
    .nav__link li a{ 
        font-size: 1rem;
         padding: 1rem;
         margin: 1rem;
     }
     .switch{
         margin: 1.2rem;
       }
     
}







