.titulo_proyectos{
    flex-wrap: wrap;
    text-align: center;
    justify-content:center;
    align-items: center;
    font-size: 2.9rem;
    font-family: var(--fuente4);
    font-weight: 400;
    color: var(--color-blanco);
    letter-spacing: 0.3rem;
    margin: 2rem;
    padding: 1rem;
}
body.white .titulo_proyectos{
    color: var(--colorv0);
}
/*RESPONSIVE*/
@media screen and (max-width:375px)  {
    .titulo_proyectos{
        font-size: 1rem;
    }
}

@media screen and (min-width:375px) and (max-width:599px) {
    .titulo_proyectos{
        font-size: 1.5rem;
    }
}