.contenedor__habilidades .cont_progreso{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 1px;
    padding: 20px 10px 18px;
   width: 400px;
   background: linear-gradient(var(--colorv2) 0%, var(--colorv1) 10%, var(--color-negro));
   box-shadow: 16px 14px 20px var(--color-negro);
   border-radius: 5px;
   overflow: hidden;
   border: none;
   transition: 0.5s;
}
body.white .contenedor__habilidades .cont_progreso{
    background: linear-gradient(var(--colorv5) 0%, var(--colorv3) 10%, var(--colorv0));
    box-shadow: 16px 14px 20px var(--colorv1);
    border: none;
}
.contenedor__habilidades .cont_progreso:hover{
width: 500px;
}
.contenedor__habilidades .cont_progreso::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 50%;
background: rgba(255, 255, 255, .1);
z-index: 10;
}
.cont_progreso .name{
position: relative;
width: 80px;
text-align: right;
color: var(--colorv8);
font-family: var(--fuente5);
    font-weight: 400;
    font-size: 1.2rem;
}
.cont_progreso .value{
    position: relative;
    width: 20px;
    text-align: left;
    color: var(--colorv8);
    font-family: var(--fuente5);
    font-weight: 400;
    font-size: 1.2rem;
}
.cont_progreso .porcentaje{
    position: relative;
    width: calc(100% - 150px);
    height: 15px;
    margin: 0 11px;
    border-radius: 10px;
    background: var(--color-negro);
    box-shadow: inset 0 0 10px var(--color-negro);
    overflow: hidden;
}
body.white .cont_progreso .porcentaje{
    background: var(--colorv8);
    box-shadow: inset 0 0 10px var(--colorv8);
}
.cont_progreso .porcentaje .barra__pro {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background: var(--color-blanco);
    box-shadow: inset 0 0 2px var(--color-negro);
    animation: animate 4s ease-in-out forwards;
}
#b2 {
    width: 90%;
}
#b3 {
    width: 40%;
}
#b4 {
    width: 30%;
}
#b5 {
    width: 30%;
}
#b6 {
    width: 50%;
}
@keyframes animate {
    from{
        width: 0;
    }
}

.cont_progreso .porcentaje:nth-child(2) .barra__pro {
    background: linear-gradient(45deg, var(--colorv3),var(--colorv4), var(--colorv8));
}
body.white .cont_progreso .porcentaje:nth-child(2) .barra__pro {
    background: linear-gradient(45deg, var(--colorv5),var(--colorv3), var(--colorv0));
}
/*RESPONSIVE*/
@media screen and (max-width:375px)  {
    .contenedor__habilidades .cont_progreso{
        width: 200px;
        height: 20px;
        padding: 14px 1px 1px;
    }
    .contenedor__habilidades .cont_progreso:hover{
        width: 160px;
        }
    .cont_progreso .porcentaje{
        height: 10px;
        margin: 0 8px;
    }
    .cont_progreso .name, .cont_progreso .value{
        font-size: 0.8rem;
    }
}
@media screen and (min-width:375px) and (max-width:599px) {
    .contenedor__habilidades .cont_progreso{
        width: 250px;
        height: 28px;
        padding: 14px 1px 1px;
    }
    .contenedor__habilidades .cont_progreso:hover{
        width: 280px;
        }
    .cont_progreso .porcentaje{
        height: 15px;
        margin: 0 8px;
    }
    .cont_progreso .name, .cont_progreso .value{
        font-size: 1rem;
    }
        
}

@media screen and (min-width:600px) and (max-width:768px) {
    .contenedor__habilidades .cont_progreso{
        width: 350px;
        height: 20px;
        padding: 10px 5px 9px;
        margin: 1rem;
    }
    .cont_progreso .porcentaje{
        height: 15px;
        margin: 0 10px;
    }
    
}
@media screen and (min-width:769px) and (max-width:1024px) {
    .contenedor__habilidades .cont_progreso{
        display: flex;
        width: 360px;
        height: 23px;
        margin: 20px 25px;
        padding: 10px 5px 9px;
    }
    .cont_progreso .porcentaje{
        height: 20px;
        margin: 0 10px;
    }
    
}
@media screen and (min-width:1024px) and (max-width:1440px) {
    .contenedor__habilidades .cont_progreso{
        position: relative;
        display: flex;
    }
    .cont_progreso .porcentaje{
        height: 20px;
        margin: 0 10px;
    }
    
}





