.habilidades{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: auto;
    padding: auto;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0),rgba(0, 0, 0, .5));
    box-shadow: 16px 14px 20px var(--color-negro);
    border-radius: 20px;
    margin-top: 3rem;
}
body.white .habilidades{
  background: linear-gradient(var(--colorv3),var(--colorv4), var(--colorv8),var(--colorv3));
  box-shadow: 16px 14px 20px var(--colorv1);
}
/*RESPONSIVE*/
@media screen and (max-width:375px)  {
  .habilidades{
    width: auto;
   height: auto;
   margin: 2rem;
   padding: auto;
   
  }
}
@media screen and (min-width:375px) and (max-width:599px) {
  .habilidades{
    width: auto;
   height: auto;
   margin: 2rem;
   padding: auto;
   
  }
}

@media screen and (min-width:600px) and (max-width:768px) {
    .habilidades{
      width: 70vw;
      height: auto;
      padding: 1rem;
      margin: 1rem;
    }
}
@media screen and (min-width:769px) and (max-width:1023px) {
  .habilidades{
    display: flex;
    width: 90vw;
   height: auto;
   padding: 0.2rem;
      margin: 1rem;
  }
}
@media screen and (min-width:1024px) and (max-width:1440px) {
  .habilidades{
   
    height: auto;
  
  }
}