.titulo__habilidades{
    font-size: 2.9rem;
    font-family: var(--fuente4);
    font-weight: 400;
    color: var(--color-blanco);
    letter-spacing: 0.2rem;
    margin: 2rem;
}
body.white .titulo__habilidades{
    color: var(--colorv0);
}
/*RESPONSIVE*/
@media screen and (max-width:375px){
    .titulo__habilidades{
        font-size: 1.1rem;
        padding: auto;
        margin: 1rem;
    }
}

@media screen and (min-width:375px) and (max-width:599px) {
    .titulo__habilidades{
        font-size: 1.5rem;
    }
}

@media screen and (min-width:600px) and (max-width:768px) {
    .titulo__habilidades{
        font-size: 2rem;
        margin-top: 1rem;
        padding: 0.5rem;
     }
    }
