.formcontacto{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}
.formcontacto .container{
    display: flex;
    margin-top: 5rem;
}

.formcontacto__subtext{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: var(--colorv0);
    font-family: var(--fuente5);
    font-weight: 400;
    font-size: 1.8rem;
    margin-top:  1rem;
}
body.white .formcontacto__subtext{
    color: var(--colorv8);
}

.fa-id-badge{
    font-size: 5rem;
    color: var(--colorv0);
    box-shadow: 16px 14px 20px var(--color-negro);
    border-radius: 20px;
    margin: 1rem;
}
body.white .fa-id-badge{
    color: var(--colorv8);
    box-shadow: 16px 14px 20px var(--colorv1);
}

/*RESPONSIVE*/
@media screen and (max-width:375px)  {
    .formcontacto, .container{
        margin: 1rem;
        width: auto;
        height: auto;
        padding: auto;
    }
    .formcontacto__subtext{
        font-size: 0.9rem;
    }
    .fa-id-badge{
        font-size: 2rem;
    }
}
@media screen and (min-width:375px) and (max-width:599px) {
    .formcontacto, .container{
        margin: auto;
    }
    .formcontacto__subtext{
        font-size: 1.1rem;
    }
    .fa-id-badge{
        font-size: 4rem;
    }
}
@media screen and (min-width:600px)and (max-width:768px) {
    .formcontacto,  .container{
     width: 90vw;
     height: auto;
     margin: 1rem;
     padding: 1rem;
    }
}
@media screen and (min-width:769px)and (max-width:1023px) {
    .formcontacto,  .container{
        width: auto;
        height: auto;
    
    }
}
@media screen and (min-width:769px)and (max-width:1023px) {
    .formcontacto,  .container{
        width: auto;
        height: auto;
        padding: 1rem;
        margin: 1rem;
    
    }
   
}
@media screen and (min-width:1024px)and (max-width:1440px) {
    .formcontacto, .container{
        width: auto;
        height: auto;
     
    
    }
    .formcontacto__subtext{
        font-size: 1.5rem;
    }
    .fa-id-badge{
        font-size: 4.5rem;
    }
}